.caixa{
    background-color: #818fdd;
}

.titulo{
   color: rgb(0, 0, 0) !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: white !important;
}

.postagens{
    background-color: #818fdd;
}